*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(32, 33, 36);
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    padding: 5px;
}

main{
    width: auto;
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    padding-bottom: 20px;
}

#input-search{
    padding-bottom: 15px;
}

input{
    width: 600px;
    height: 40px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
    border-radius: 25px;
    border: 1.5px solid #ffffff;
    background-color: rgb(32, 33, 36);
}

button{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(48, 49, 52);
}

.botones{
    padding-bottom: 200px;
}

footer{
    background-color: rgb(23, 23, 23);
}