*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(33, 33, 44);
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    padding: 5px;
}

main{
    width: auto;
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    padding-bottom: 20px;
}

#input-search{
    padding-bottom: 15px;
}

input{
    width: 600px;
    height: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1.5px solid #ffffff;
    background-color: rgb(33, 33, 44);
}

button{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(78, 78, 105);
}

footer{
    background-color: rgb(11, 11, 26);
}